<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container1">
        <h1>Add Member</h1>
        <form action="{% url 'addrec' %}" method="post">
            {% csrf_token %}
            <label for="">Title</label><br><br>
            <input type="text" name="title"><br><br>
            <label for="">Description</label><br><br>
            <input type="text" name="description"><br><br>
            <label for="">Due Date</label><br><br>
            <input type="date" name="duedate"><br><br>
            <label for="">Priority</label><br><br>
            <input type="text" name="priority"><br><br>
            <label for="">Status</label><br><br>
            <input type="text" name="status"><br><br>
            <button type="submit" id="new">Submit</button>
        </form>
    </div>
</body>

</html>